<div id="create_your_developer_account">
<div>
<h1>Create Your Developer Account</h1>
<p>Go to the Beaconwatcher Manager and create an account.</p>
<p><a href="https://manager.gimbal.com/login/users/sign_up" target="_blank">Beaconwatcher Manager »</a></div>
</div>
<div id="create_android_app">
<div></div>
<div>
<h1>Create Your Android Application</h1>
<p>The following steps will set up an application in Eclipse ready for enabling Beaconwatcher features.</div>
</div>
<div id="confirm_your_environment">
<div></div>
<div>
<h2>Confirm Your Environment</h2>
<p>Make sure you:</p>
<div>
<ul>
<li>Have a device with Android 2.2 or higher</li>
<li>Are using <a href="http://www.eclipse.org/downloads/" target="_blank">Eclipse Indigo</a> (3.7) or higher</li>
<li>Have installed the <a href="http://developer.android.com/tools/sdk/eclipse-adt.html" target="_blank">Eclipse Android ADT plug-in</a></li>
<li><a href="http://developer.android.com/sdk/installing/adding-packages.html" target="_blank">Use the ADT plug-in</a> to download a version of Android greater than or equal to API 8: Android 2.2</li>
</ul>
</div>
</div>
</div>
<div id="create_new_eclipse_project">
<div></div>
<div>
<h2>Create a new Eclipse project</h2>
<p>In Eclipse choose File &gt; New &gt; Project and search for "Android Application Project" as seen below.</p>
<p><img src="getstarted_files/new_project.jpg" alt="" /></p>
<p>Fill out your "Application Name", "Project Name", and "Package Name" fields.</p>
<p><strong>Important</strong> Make sure the "Minimum Required SDK", "Target SDK" are set to at least API 18 and "Compile With" fields are set to API 18: Android 4.3. Then click through the rest of the "New Android Application" setup wizard.</p>
<p><img src="getstarted_files/new_android_application.jpg" alt="" /></div>
</div>
<div id="add_jars">
<div>
<h2>Add SDK Jar to your project.<br /></h2>
<div>

click to download: 
<a href="#">BeaconW-SDK.1.0.jar</a>

</div>
<p><strong>Note</strong> You will find the jar at above link</p>
<p>Add jar to your Android application by copy and pasting it into the libs folder of your android project.</p>
<p>Your project should now look similar to this:</p>
<p><img src="getstarted_files/include_jar.jpg" alt="" /></p>
<ol>
<li>Add the follwoing sdk and permission declarations to your AndroidManifest.xml<br />

  <pre class="prettyprint lang-xml">
&lt;uses-sdk
        android:minSdkVersion="18"
        android:targetSdkVersion="18" /&gt;

&lt;uses-permission android:name="android.permission.INTERNET"  /&gt;
&lt;uses-permission android:name="android.permission.BLUETOOTH" /&gt;
&lt;uses-permission android:name="android.permission.BLUETOOTH_ADMIN" /&gt;
</pre>
</li>  
  
  
  <li>Edit your project.properties file and add the line: manifestmerger.enabled=true</li>
  <li><strong>Only perform this step if you are using a version prior to 0.7.1 or if you do not have manifest merging enabled per step 2.</strong> If manifest merging does not work, you must manually add the following service declarations to your AnroidManifest.xml, replacing {my app's package name} with the fully qualified package name of your Android application.
  
    <pre class="prettyprint lang-xml">&lt;service
       android:enabled=&quot;true&quot;<br />       android:exported=&quot;true&quot;<br />       android:isolatedProcess=&quot;false&quot;<br />       android:label=&quot;iBeacon&quot;<br />       android:name=&quot;com.radiusnetworks.ibeacon.service.IBeaconService&quot;&gt;<br />&lt;/service&gt;<br />    	<br />           <br />&lt;service
       android:enabled=&quot;true&quot;<br />       android:exported=&quot;true&quot;<br />       android:isolatedProcess=&quot;false&quot;<br />       android:name=&quot;com.radiusnetworks.ibeacon.IBeaconIntentProcessor&quot;&gt;<br />       &lt;meta-data android:name=&quot;background&quot; android:value=&quot;true&quot; /&gt;<br />       &lt;intent-filter  android:priority=&quot;1&quot; &gt;<br />            &lt;action android:name=&quot;com.radiusnetwork.demo.DID_RANGING&quot; /&gt;<br />            &lt;action android:name=&quot;com.radiusnetwork.demo.DID_MONITORING&quot; /&gt;<br />       &lt;/intent-filter&gt;<br />&lt;/service&gt;      </pre>
  
  </li>
</ol>
</div>
</div>
<div id="create_api_key">
<div></div>
<div>
<h2>&nbsp;</h2>
</div>
</div>
